streamlit
pandas
numpy
matplotlib
plotly
openpyxl
xlrd
fpdf
schedule
#email
streamlit-option-menu
plotly-express
feature-engine
mysql-connector-python
pymysql
xlsxwriter
streamlit-aggrid
langchain
openai
langchain-experimental
langchain-community
python-dotenv
tabulate